extends layout

block content
    h1 О нас
    
    p Это простое приложение для управления задачами (Todo App), созданное с использованием:
    ul
        li Node.js
        li Express.js
        li Pug (шаблонизатор)
    
    p Приложение позволяет:
    ul
        li Просматривать список задач
        li Создавать новые задачи
        li Отмечать задачи как выполненные/невыполненные
        li Удалять задачи
    
    a(href="/") ← Назад к списку задач